<% include partials/header.ejs %>

<main class="aboutme">
    
<img src="../images/11127900_825825977487720_1823835263088412768_n.jpg" alt="..." class="img-circle">
<div class="jumbotron">
  <h1>About, ME!!!!!</h1>
  <p><p>My name is Parthkumar Patel. We provide services like cloud services, data backups, IT support and Computer repairs . I enjoy designing and believe in being a leader in the field of innovation. I enjoy reading novels and singing in addition to web design and programming.
  </p>

<p>I am from Gujarat, India, and I am currently enrolled in Georgian College in Barrie, Ontario.</p></p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

</main> 
<% include partials/footer.ejs %>