<% include partials/header.ejs %>

    <main class="projects">
        <div class="container margin-top">
            <div class="col-md-4">
                <img src="../images/automatic_door_wall_u2h2BYB29F.jpg" class="img-thumbnail" /></a>
                <p class="text-primary font-size">Door Automation System</p>
                <p class="text-primary font-medium">A system which open and close the door with wireless technology</p>
            </div>
            <div class="col-md-4">
                <img src="../images/download.jpg" class="img-thumbnail" />
                 <p class="text-primary font-size">Fire Detection</p>
                 <p class="text-primary font-medium">A sensor which detects the Fire and display on the management's phone </p>
            </div>
            <div class="col-md-4">
                <img src="../images/1-1.jpg" class="img-thumbnail" />
                 <p class="text-primary font-size">E-Commerce</p>
                 <p class="text-primary font-medium">SEO,Social Reach,Customer Support,Marketting</p>
            </div>
        </div>
    </main>
    <% include partials/footer.ejs %>