<% include partials/header.ejs %>
<div class="col-md-3 margin-top">
    
<div class="progress-pie-chart" data-percent="60">
  <div class="ppc-progress">
    <div class="ppc-progress-fill"></div>
  </div>
  <div class="ppc-percents">
    <div class="pcc-percents-wrapper">
      <span>%</span>
    </div>
  </div>
</div>
<p class="text-primary font-medium">Cloud Services</p>
</div>
<div class="col-md-3 margin-top">
<div class="progress-pie-chart" data-percent="80">
  <div class="ppc-progress">
    <div class="ppc-progress-fill"></div>
  </div>
  <div class="ppc-percents">
    <div class="pcc-percents-wrapper">
      <span>%</span>
      
    </div>
  </div>
</div>
<p class="text-primary font-medium">Data Backups</p>
</div>
<div class="col-md-3 margin-top">
<div class="progress-pie-chart" data-percent="80">
  <div class="ppc-progress">
    <div class="ppc-progress-fill"></div>
  </div>
  <div class="ppc-percents">
    <div class="pcc-percents-wrapper">
      <span>%</span>
    </div>
  </div>
</div> 
 <p class="text-primary font-medium">IT Support</p>
</div>
<div class="col-md-3 margin-top">
<div class="progress-pie-chart" data-percent="80">
  <div class="ppc-progress">
    <div class="ppc-progress-fill"></div>
  </div>
  <div class="ppc-percents">
    <div class="pcc-percents-wrapper">
      <span></span>
    </div>
  </div>
</div>
<p class="text-primary font-medium">Computer Repair</p>    
</div>
<% include partials/footer.ejs %>